*{-webkit-box-sizing: border-box;box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,se, .user-detail-panelction,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
html,body{
    width:100%;
    height:100%;
    font-family:'microsoft yahei ui','microsoft yahei',PingFangSC-Light,'helvetica neue','hiragino sans gb','arial','simsun','sans-serif';
}

.fl{ float:left; }
.fr{ float:right; }
.hide{display:none;}
.line{display:block; width:100%; margin:10px 0;}
.clearfix:after {content:" "; display: block; clear:both; }
.btn{
    display:inline-block;
    padding:8px 8px;
    margin:0 2px;
    white-space:nowrap;
    vertical-align: bottom;
    background-color:#ccc;
    border-radius:5px;
    cursor:pointer;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,.1);
    box-shadow:0px 0px 5px rgba(0,0,0,.1);
}
.btn-primary{
    background-color:#1D90E6;
    color:#fff;
}
.btn-primary i{
    margin-right:5px;
    font-size:15px;
}
.btn-primary:hover{
    background-color:#20A0FF;
}
.btn-primary:active{
    background-color:#1D90E6;
}
.form-control{
    display:inline-block;
    height:30px;
    padding:0 8px;
    border-radius:5px;
    border:1px solid #ccc;
    outline:none;
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,.1);
    box-shadow:0px 0px 5px rgba(0,0,0,.1);
}
.control-label span{
    display:inline-block;
    text-align:center;
    min-width:70px;
    margin:0 5px;
    font-size:14px;
}
.has-error input{
    border:1px solid #a94442;
}
.text-success{
    color:#449D44;
}
.text-disabled{
    color:#C9302C;
}
.text-center{
    text-align:center;
}

.table-list{
    width:100%;
    border:1px solid #DFE6EC;
}
.table-ml{
    width:97%;
    margin-left:2.5%;
}
.table-list thead tr{
    background-color:#EEF1F6;
    font-size:13px;
}
.table-list tbody tr:hover{
    background-color:#EEF1F6;
}
.table-list tbody tr td,.table-list thead tr th{
    min-width:70px;
    padding: 3px 5px;
    border-right:1px solid #DFE6EC;
    border-bottom:1px solid #DFE6EC;
}
.table-list thead tr th:first-child,.table-list tbody tr td:first-child{
    width:100px;
}
.table-list thead tr th:first-child i, .table-list tbody tr td:first-child i{
    font-size:20px;
    color:#20A0FF;
}
.fl-title{
    width: 98%;
    height: 40px;
    line-height: 40px;
    color: #1F2D3D;
    border-bottom: 1px solid #ECF0F1;
    padding-left: 20px;
    margin:0 auto;
    position: relative;
    font-size: 15px;
}
.fl-title:after{
    content: " ";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #38BEFE;
}
.fl-panel{
    width:98%;
    height:100%;
    margin:0 auto;
}
.fl-content{
    width:98%;
    margin:0 auto;
}
